# ignore ALL files in ANY directory listed bellow
arduino-ide
discord/
JetBrains/
github-copilot/
Code/
coc/
calcurse/
GIMP/
slstatus/
pics/
nushell/
chromium/
pulse/
bashtop/
Code\ -\ OSS/
libreoffice/
light/
xournalpp/
yay/
xfce4/
Thunar/
systemd/
styluslabs/
procps/
pdfarranger/
nitrogen/
neofetch/
mpv/
htop/
go/
flameshot/
Electron/
dwmback/
cool_retro_terminal/
BetterDiscord\ Installer/
Arduino\ IDE/
Cursor/
dconf/
flameshot/
BraveSoftware/
zoom.conf
zoomus.conf
